@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,700;1,900&display=swap');
.App {
    background-color:#f4f4f4;
  }
  
  .Auth-form-container {
    padding-top: 20%;
    display: flex;
    // justify-content: center;
     //align-items:flex-end ;
    // width: 100vw;
    height: 450px;
    margin: 0 20px;
  }
  
  .profile-form{
    h3{
      margin:0;
      padding-bottom: 30px;
    }
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 12%;
    padding-bottom: 20px;
    border-radius: 17px;
    background-color: white;
    .form-group{
      .text{
        font-weight: 400;
        font-size: 12px;
      }
    }
  }
  .Auth-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 20%;
    padding-bottom: 20px;
    border-radius: 17px;
    background-color: white;
  }
  
  .Auth-form-content, .profile-form-content{
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .Auth-form-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1em;
    font-size: 18px;
    font-weight: normal;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }
  
  label {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
  }
  .loggin-group{
    padding-bottom: 10px;
    
 
    .text{
      color:#2e09db ;
      display: block;
      padding-bottom: 7px;
    }
    .form-control{
      width: 100%;
      height: 30px; 
      
    }
  }
  .submit-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .button{
      // height: 100%;
      font-family: 'Roboto', sans-serif;
      color: white;
      background-color: #2e09db;
      border: none;
      border-radius: 10px;
      width: 107px;
      height: 36px;
    }
    .forgot-password{
      color: black;
      font-family:'Roboto', sans-serif ;
      font-weight: 700;
    }
    .checkbox{
      display: flex;
      align-items: center;
    }

 
  }
  .form-group{
    padding-bottom: 10px;
  
    .text{
      color:#919091 ;
      display: block;
      padding-bottom: 7px;
    }
    .form-control{
      width: 100%;
      height: 30px; 
      
    }

  }
  .profile-button{
    display: flex;
    justify-content: flex-end;
    padding-top: 25px;
    .update-button{
      font-size: 12px;
      margin-right: 7px;
      font-family: 'Roboto', sans-serif;
      color: white;
      background-color: #2e09db;
      border: none;
      border-radius: 7px;
      width: 70px;
      height: 30px;
    }
    .cancel-button{
      font-size: 12px;
      font-family: 'Roboto', sans-serif;
      color: #2e09db;
      background-color: #f6f4ff;
      border: none;
      border-radius: 7px;
      width: 70px;
      height: 30px;
    }
  }